In [ ]:
!nvidia-smi

Sat Jul  2 14:51:40 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   38C    P8    12W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install -U strsimpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting strsimpy
  Downloading strsimpy-0.2.1-py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.8 MB/s
Installing collected packages: strsimpy
Successfully installed strsimpy-0.2.1

In [ ]:
import pandas as pd

In [ ]:
PATH_ALO = "/content/drive/MyDrive/data-standard/alonhadat.csv"
alo = pd.read_csv(PATH_ALO, encoding = 'utf-8') 
PATH_BAT_DONG_SAN_123 = "/content/drive/MyDrive/data-standard/batdongsan123.csv"
batdongsan123 = pd.read_csv(PATH_BAT_DONG_SAN_123, encoding = 'utf-8')
PATH_I = "/content/drive/MyDrive/data-standard/ibatdongsan.csv"
ibat = pd.read_csv(PATH_I, encoding = 'utf-8')
PATH_24 = "/content/drive/MyDrive/data-standard/nhadat24h.csv"
nha24 = pd.read_csv(PATH_24, encoding = 'utf-8')

In [ ]:
alo_min=alo[["bedroom","code","date","diningroom","floor","kitchen","length","phone_contact","price","road_width","square","width"]]
bat_min=batdongsan123[["acreage","bathroom","bedroom","code","date","floor","phone_contact","price"]]
ibat_min=ibat[["area","bedroom","code","date","diningroom","floor","length","phone_contact","price","width","world_highway"]]
nha24_min=nha24[["bathroom","bedroom","code","date","floor","ground_area","kitchen","length","livingroom","price","road_width","usable_area","width"]]

Chọn các trường có kiểu dữ liệu dạng số bằng cách liệt kê thủ công

In [ ]:
alo_col = list(alo_min.columns)
batdongsan123_col = list(bat_min.columns)
ibat_col = list(ibat_min.columns)
nha24_col = list(nha24_min.columns)
alo_col.sort()
batdongsan123_col.sort()
ibat_col.sort()
nha24_col.sort()

Tạo một List 1 chiều chứa tên trường của các bảng dữ liệu, sau đó sắp xếp theo thứ tự bảng chữ cái

In [ ]:
print(alo_col)
print(batdongsan123_col)
print(ibat_col)
print(nha24_col)

['bedroom', 'code', 'date', 'diningroom', 'floor', 'kitchen', 'length', 'phone_contact', 'price', 'road_width', 'square', 'width']
['acreage', 'bathroom', 'bedroom', 'code', 'date', 'floor', 'phone_contact', 'price']
['area', 'bedroom', 'code', 'date', 'diningroom', 'floor', 'length', 'phone_contact', 'price', 'width', 'world_highway']
['bathroom', 'bedroom', 'code', 'date', 'floor', 'ground_area', 'kitchen', 'length', 'livingroom', 'price', 'road_width', 'usable_area', 'width']

In [ ]:
from strsimpy.normalized_levenshtein import NormalizedLevenshtein
levenshtein=NormalizedLevenshtein()
print("Matching alonhadat vs batdongsan123")
df=pd.DataFrame(columns=['alonhadat','batdongsan123','distance'])
for i in range(0,len(alo_col)):
  for j in range(0,len(batdongsan123_col)):
    new_row={'alonhadat':alo_col[i], 'batdongsan123':batdongsan123_col[j], 'distance': levenshtein.distance(alo_col[i],batdongsan123_col[j])}
    df=df.append(new_row, ignore_index=True)
df2=df.sort_values(by=['distance'], ascending=True)
df2.head(12)

Matching alonhadat vs batdongsan123

        alonhadat  batdongsan123  distance
2         bedroom        bedroom  0.000000
71          price          price  0.000000
62  phone_contact  phone_contact  0.000000
37          floor          floor  0.000000
11           code           code  0.000000
20           date           date  0.000000
1         bedroom       bathroom  0.375000
26     diningroom        bedroom  0.600000
25     diningroom       bathroom  0.600000
84         square           date  0.666667
47        kitchen          price  0.714286
64          price        acreage  0.714286

Matching từng tên trường của alonhadat với tất cả tên trường của batdongsanso sử dụng hàm khoảng cách Normalized Levenshtein, output là một dataframe

In [ ]:
from strsimpy.normalized_levenshtein import NormalizedLevenshtein
levenshtein=NormalizedLevenshtein()
print("Matching alonhadat vs ibatdongsan")
df=pd.DataFrame(columns=['alonhadat','ibatdongsan','distance'])
for i in range(0,len(alo_col)):
  for j in range(0,len(ibat_col)):
    new_row={'alonhadat':alo_col[i], 'ibatdongsan':ibat_col[j], 'distance': levenshtein.distance(alo_col[i],ibat_col[j])}
    df=df.append(new_row, ignore_index=True)
df2=df.sort_values(by=['distance'], ascending=True)
df2.head(15)

Matching alonhadat vs ibatdongsan

         alonhadat    ibatdongsan  distance
25            date           date  0.000000
1          bedroom        bedroom  0.000000
37      diningroom     diningroom  0.000000
84   phone_contact  phone_contact  0.000000
96           price          price  0.000000
49           floor          floor  0.000000
130          width          width  0.000000
72          length         length  0.000000
13            code           code  0.000000
108     road_width          width  0.500000
4          bedroom     diningroom  0.600000
34      diningroom        bedroom  0.600000
110         square           area  0.666667
75          length          width  0.666667
113         square           date  0.666667

Tương tự với 2 trang alohanhadat và ibatdongsan

In [ ]:
from strsimpy.normalized_levenshtein import NormalizedLevenshtein
levenshtein=NormalizedLevenshtein()
print("Matching alonhadat vs nhadat24h")
df=pd.DataFrame(columns=['alonhadat','nhadat24h','distance'])
for i in range(0,len(alo_col)):
  for j in range(0,len(nha24_col)):
    new_row={'alonhadat':alo_col[i], 'nhadat24h':nha24_col[j], 'distance': levenshtein.distance(alo_col[i],nha24_col[j])}
    df=df.append(new_row, ignore_index=True)
df2=df.sort_values(by=['distance'], ascending=True)
df2.head(15)

Matching alonhadat vs nhadat24h

      alonhadat   nhadat24h  distance
155       width       width     0.000
1       bedroom     bedroom     0.000
127  road_width  road_width     0.000
113       price       price     0.000
85       length      length     0.000
71      kitchen     kitchen     0.000
56        floor       floor     0.000
29         date        date     0.000
15         code        code     0.000
47   diningroom  livingroom     0.200
0       bedroom    bathroom     0.375
129  road_width       width     0.500
153       width  road_width     0.500
40   diningroom     bedroom     0.600
39   diningroom    bathroom     0.600

In [ ]:
from strsimpy.normalized_levenshtein import NormalizedLevenshtein
levenshtein=NormalizedLevenshtein()
print("Matching batdongsan123 vs nhadat24h")
df=pd.DataFrame(columns=['batdongsan123','nhadat24h','distance'])
for i in range(0,len(batdongsan123_col)):
  for j in range(0,len(nha24_col)):
    new_row={'batdongsan123':batdongsan123_col[i], 'nhadat24h':nha24_col[j], 'distance': levenshtein.distance(batdongsan123_col[i],nha24_col[j])}
    df=df.append(new_row, ignore_index=True)
df2=df.sort_values(by=['distance'], ascending=True)
df2.head(14)

Matching batdongsan123 vs nhadat24h

    batdongsan123    nhadat24h  distance
100         price        price  0.000000
27        bedroom      bedroom  0.000000
13       bathroom     bathroom  0.000000
69          floor        floor  0.000000
41           code         code  0.000000
55           date         date  0.000000
26        bedroom     bathroom  0.375000
14       bathroom      bedroom  0.375000
34        bedroom   livingroom  0.600000
21       bathroom   livingroom  0.600000
11        acreage  usable_area  0.636364
30        bedroom        floor  0.714286
58           date      kitchen  0.714286
97          price      kitchen  0.714286

In [ ]:
from strsimpy.normalized_levenshtein import NormalizedLevenshtein
levenshtein=NormalizedLevenshtein()
print("Matching batdongsan123 vs ibatdongsan")
df=pd.DataFrame(columns=['batdongsan123','ibatdongsan','distance'])
for i in range(0,len(batdongsan123_col)):
  for j in range(0,len(ibat_col)):
    new_row={'batdongsan123':batdongsan123_col[i], 'ibatdongsan':ibat_col[j], 'distance': levenshtein.distance(batdongsan123_col[i],ibat_col[j])}
    df=df.append(new_row, ignore_index=True)
df2=df.sort_values(by=['distance'], ascending=True)
df2.head(14)

Matching batdongsan123 vs ibatdongsan

    batdongsan123    ibatdongsan  distance
85          price          price  0.000000
60          floor          floor  0.000000
47           date           date  0.000000
23        bedroom        bedroom  0.000000
73  phone_contact  phone_contact  0.000000
35           code           code  0.000000
12       bathroom        bedroom  0.375000
0         acreage           area  0.428571
26        bedroom     diningroom  0.600000
15       bathroom     diningroom  0.600000
8         acreage          price  0.714286
2         acreage           code  0.714286
27        bedroom          floor  0.714286
56          floor        bedroom  0.714286

In [ ]:
from strsimpy.normalized_levenshtein import NormalizedLevenshtein
levenshtein=NormalizedLevenshtein()
print("Matching ibatdongsan vs nhadat24h")
df=pd.DataFrame(columns=['ibatdongsan','nhadat24h','distance'])
for i in range(0,len(ibat_col)):
  for j in range(0,len(nha24_col)):
    new_row={'ibatdongsan':ibat_col[i], 'nhadat24h':nha24_col[j], 'distance': levenshtein.distance(ibat_col[i],nha24_col[j])}
    df=df.append(new_row, ignore_index=True)
df2=df.sort_values(by=['distance'], ascending=True)
df2.head(14)

Matching ibatdongsan vs nhadat24h

    ibatdongsan    nhadat24h  distance
42         date         date  0.000000
129       width        width  0.000000
69        floor        floor  0.000000
85       length       length  0.000000
28         code         code  0.000000
113       price        price  0.000000
14      bedroom      bedroom  0.000000
60   diningroom   livingroom  0.200000
13      bedroom     bathroom  0.375000
127       width   road_width  0.500000
21      bedroom   livingroom  0.600000
53   diningroom      bedroom  0.600000
52   diningroom     bathroom  0.600000
11         area  usable_area  0.636364